

<main class="mb-24">
  <nav class="navbar navbar-expand-sm fixed-top navbar-white bg-blue-500 md:bg-white" aria-label="Third navbar example">
    <div class="container-fluid">
      <div class="ml-44">
      <%= link_to root_path, class:"navabr-brand" do %>
         <p class="font-bold text-white text-xl md:text-3xl">
            <span class="bg-blue-500 text-white">Ln</span><span class="md:text-blue-500">Class</span>
          </p>
      <% end %>
      </div>
    
      <button class="navbar-toggler border-2 border-blue-500" type="button" data-bs-toggle="collapse" data-bs-target="#LnNavbar" aria-controls="LnNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-gray-200"></span>
      </button>

      <div class="collapse navbar-collapse text-black font-bold" id="LnNavbar">
        
          <div class="nav-item  ">
            <%= link_to root_path, class:'nav-link text-black active  md:ml-12' do %>
             <span class=""> <i class="fa fa-home" aria-current="page"></i>Accueil</span>
            <% end %>
          </div>
          <div class="nav-item md:ml-48">
            <%= link_to new_course_path, class:'nav-link text-black font-bold' do %>
              <span class=""><i class="fa fa-plus-circle"></i>  Créer Cours</span>  
            <% end %>
          </div>
          <div class="nav-item">
            <%= link_to admin_index_path, class:'nav-link text-black font-bold' do %>
              <span class=""><i class="fas fa-users"></i> Espace Professeur</span> 
            <% end %>
          </div>
          

         <div class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span><i class="fas fa-sign-out-alt"></i> Déconnecter</span>
          <% end %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</main>