<!-- component -->
<div class="flex-1 flex flex-col overflow-hidden">
    <!-- navbar-->
    <%= render "home/shared-feed/navbar" %>
  </div>
  <div class="grid md:grid-flow-col ">
    <div class=" md:row-span-2">
      <nav class="flex h-full ">
        <div class="w-full flex mx-auto">
          <%= render "home/shared-feed/sidebar" %> 
        </div>
      </nav>
    </div>
    <div class="grid md:grid-flow-col">
      <main class="flex flex-col w-full bg-white overflow-x-hidden overflow-y-auto mb-14">
        <div class="flex w-full mx-auto px-6 py-8">
          <% @title='Accueil' %>
          <%= render "home/shared-feed/feed" %>
        </div>
      </main>
    </div>
  </div>



<!-- component -->
<div class="flex h-screen ">
  <div class="flex-1 flex flex-col overflow-hidden">
    <!-- navbar-->
      <%= render "home/shared-feed/navbar" %>
    <div class="flex h-full mr-72 md:ml-24">
        <main class="flex flex-col w-full bg-white overflow-x-hidden overflow-y-auto mb-14">
          <div class="flex w-full mx-auto px-6 py-8">
          <% @title='Accueil' %>
            <%= render "home/shared-feed/feed" %>
          </div>
        </main>
    </div>
  </div>
</div>