<header class="flex justify-between items-center bg-white p-2 mb-4 font-bold">
      <div class="flex md:ml-32"> 
        <%= link_to root_path, class:"" do %>
          <p class="font-bold text-blue-500 text-3xl">
            <span class="bg-blue-500 text-white">Ln</span><span>Class</span>
          </p>
        <% end %>
      </div>    
      
      <div class="-ml-52">
         <%= link_to 'Accueil',root_path, class:'' %>
      </div>
      <div class="-mr-52">
         <%= link_to ' Créer Cours',root_path, class:'' %>
      </div>
      <div class="flex -mr-52">
         <%= link_to 'Espace Professeur', admin_index_path, class:'' %>
      </div>
      <div class="flex mr-48">
         <%= link_to 'Déconnecter', root_path, class:'' %>
      </div>
    </header>