<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<!-- component -->

<div class="h-screen bg-white flex flex-col space-y-10 justify-center items-center">
 
  <!-- lnclass logo -->
 <div class=" flex w-96 ">
    <%= image_tag 'lnclass-logo.png', class:"", alt:'Lnclass logo', title:"lnclass logo", size:"150x150" %>
 </div>

  <!-- Layout  -->
  <div class="bg-white w-96 shadow-xl rounded p-2">
    <h1 class="text-3xl font-medium">Se Connecter</h1>
    <p class="text-sm">Se connecter pour accéder aux contenus ou 
     <%= link_to  "S'Inscrire rapidement", new_user_registration_path, class:"text-blue-700 font-medium" %> 
     </p> 
    <div class="space-y-5 mt-2">
      <%= f.text_field :logged, class:"w-full h-12 border border-gray-800 rounded px-3",placeholder:"Matricule ou Code Id"  %>
     <div class="w-full flex items-center  border border-gray-800 rounded my-2">
        <%= f.password_field :password ,class:"w-full h-12", placeholder:"N° WhatsApp ou Mot de passe" %>
        
      </div>

      <div class="">
                  <a href="#!" class="font-medium text-blue-700 hover:bg-blue-300 rounded-full p-2">Mot de passe oublié ?</a>
      </div>

      <button class="text-center w-full bg-blue-700 rounded-full text-white py-3 font-medium">Se Connecter</button>

    </div>
  </div>

  <!-- Footer -->
  <p>Nouveau sur LnClass ? <%= link_to  "S'Inscrire", new_user_registration_path, class:"text-blue-700 font-medium" %>  </p>
</div>


<!-- BUY ME A BEER AND HELP SUPPORT OPEN-SOURCE RESOURCES -->
<div class="flex items-end justify-end fixed bottom-0 right-0 mb-4 mr-4 z-10">
    <div>
        <a title="Problème sur la connexion" href="https://wa.me/2250759977903" target="_blank" class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
            <i class="fas fa-phone-volume  object-center w-full h-full rounded"></i>
        </a>
    </div>
</div>

<% end %>
