<div class="container">
<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field my-2">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>



  <div class="row my-2">
      <div class="col-5  col-md-3 col-lg-3">
        <div class="p-4">
          <span class="select">
            <%= form.select :material_id,
              @materials.map { |m| [m.title, m.id] },
              placeholder:"la matiere",
               hide_label: true, class:"bg-red-200" %>

          </span>
        </div>
      </div>
      <div class="col-5 col-md-3 col-lg-3">
        <div class="p-4">
          <span class="select">
            <%= form.select :level_id,
              @levels.map { |l| [l.title, l.id] },
              placeholder:"Niveau",
               hide_label: true %>
          </span>
        </div>
      </div>
    </div>


  <div class="actions">
    <%= form.submit " creer le cours", class:" btn btn-primary p-1" %>
  </div>
<% end %>

</div>